---
layout: default
---

<div class="home">

  <h1 class="page-heading">index</h1>

  <ul class="post-list">
    {% for post in site.posts %}

      <li itemscope itemtype="http://schema.org/Article">
        <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->


        <h2>

          <a class="post-link" itemprop="url" href="{{ post.url | prepend: site.baseurl }}">

            
           {% if post.permalink %}
            <span class="post-series">post series &dash; </span>
            {% endif %}<span class="title" itemprop="name">{{ post.title }}</span>
          </a>
          <span itemprop="datePublished" content="{{ post.date | date: "%b %-d, %Y" }}" class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>


        </h2>

      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
