<header class="site-header" id="top" role="banner">


  <div class="block">

    <div class="inner-header">
      <a class="site-header-inner" href="{{ site.baseurl }}/">
      <h1>gostak.io</h1>
      <h6>when gostaks dream of electric doshes...</h6>
      </a>
    </div>
    
    <a class="nav-btn" id="nav-open-btn" href="#nav">Book Navigation</a>
  </div>


</header>


<nav id="nav" role="navigation">
<div class="block">


      <div class="trigger">
        <a class="page-link" href="{{ site.baseurl }}/">home</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
        
        
      </div>




<a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
</div>
</nav>
