$font-reb: 'rockwell-extra-bold';
$style-name-reb: rockwell-extra-bold;
$file-reb: 'rockwell-extra-bold';
$category-reb: serif;

$font-rw: 'rockwell-webfont';
$style-name-rw: rockwell-webfont;
$file-rw: 'rockwell-webfont';
$category-rw: serif;

$font-ar: 'altehaasgroteskregular-webfont';
$style-name-ar: 'altehaasgroteskregular-webfont';
$file-ar: 'altehaasgroteskregular-webfont';
$category-ar: sans-serif;

@mixin font-face($style-name, $file, $category:"") {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: "#{$style-name}";
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'), url($filepath + ".woff") format('woff'), url($filepath + ".ttf")  format('truetype'), url($filepath + ".svg#" + $style-name + "") format('svg');
    }
    %#{$style-name} {
        font: {
            @if $category != "" {
                family: "#{$style-name}", #{$category};
            }
            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}
@include font-face($style-name-reb, $file-reb, $category-reb);
@include font-face($style-name-rw, $file-rw, $category-rw);

@include font-face($style-name-ar, $file-ar, $category-ar);

h1{

     font-family: $font-rw;
     font-weight: 300;
     letter-spacing: normal;
}
a{
    &.site-title{
     font-family: $font-ar;
     //font-family: $font-rw;
     font-weight: 300;
     letter-spacing: normal;
     color: #ddd;
         &:visited{
            color: #ddd;
         }

    }

}
.site-nav{
    .page-link{
    font-family: $font-ar;
    font-size: 1.125em;
    font-weight: 300;
    color: #ddd;
        &:visited{
        color: #ddd;
        }   
    }
}
.site-header{
    background-color: #333;
}

// a%extreme {

//     font-family: $font-rw;
//     font-weight: 300;
//     letter-spacing: normal;
// }
// .site-title{
//     @extend %extreme;
// }

// h1{
//     @extend .site-title;
// }

// h2{
    
// }