---
layout: default
---
<div class="post">



<article class="post-content">
    {{ content }}
</article>

<ul class="post-list">
<!--     {% for collection in site.collections %}
      <li>-->
        <!--<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>-->

        <!-- <h2>
            <a class="post-link" href="{{ collection }}">{{ collection }}</a> -->
             
          <!--<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>-->

       <!-- </h2>-->
<!--<ul> -->
{% for list in site.data.lists %}
  <li>
    <h2>
      <a class="post-link" href="{{ list.ubicacion | prepend: site.baseurl }}">{{ list.nombre }}</a>
    </h2>
  </li>
{% endfor %}
</ul>
<!-- 
</li>
    {% endfor %}
 </ul> -->
<!--  <ul>
   {% for collection in site.collections %}
   <li>
    <a class="post-link" href="{{ collection.url }}">{{ collection }}</a>
    </li>
      {% endfor %}
  </ul> -->
 
</div>

